// font-family: 'Lato', sans-serif;
// font-family: 'Merriweather', serif;
@import "setup";
@import "mixins";

$sans-serif: "Lato", sans-serif;
$serif: "Merriweather", serif;
$alternatebg: #F3F3F3;
$brown: #372213;


html {
	font-size: 62.5%;
}

body {
	font-family: $sans-serif;
	background-image: url("../images/halftone.png");
	background-repeat: repeat;

}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.0rem;

	@include respond-to(small) {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1.4rem;
	font-family: $serif;

	@include respond-to(small) {
		font-size: 1.2rem;
	}
}

form {
	font-size: 1.5rem;
	margin-bottom: 20px;

	@include respond-to(small) {
		font-size: 1.3rem;
	}

	input {
		padding: 5px;
		margin-left: 5px;

		@include respond-to(small) {

		}
	}
}

header {

	p {
		padding-top: 3px;
		text-align: center;
		display: inline-block;
	}

	a {
		img {
			width: 120px;

			@include respond-to(small) {
				width: 100px;
				padding-left: 5px;
			}	
		} 
	}

	.goodreads {
		width: 220px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include respond-to(small) {
			justify-content: center;
			width: 100%;
		}

	}
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	display: flex;

	@include respond-to(medium) {
		max-width: 700px;
	}

	@include respond-to(small) {
		max-width: 100%;
	}
}


.searchForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#books {
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	position: relative;
	border-radius: 10px;


	span {
		font-size: 3.2rem;
		padding-left: 12px;
		position: absolute;
		z-index: 10;
		left: -22px;
		border: 2px dotted $brown;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		color: $brown;
		font-weight: 300;

		@include respond-to(smallish) {
			border: none;
			left: -5px;
			font-size: 2rem;
		}

	}

	.bookResult {
		border: 2px solid $alternatebg;
		border-bottom: 0;
		border-radius: 10px;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		padding-bottom: 20px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}


	.textTest {
		width: 100%;
		padding-left: 20px;
	}

	.imageContainer {
		width: 150px;

		img {
			max-width: 100%;
		}
	}
}

footer {

	display: flex;
	justify-content: space-between;

	p {
		font-size: 1rem;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 75vh;
	}

	a {
		color: #553B07;

		&:hover {
			color: white;
		}
	}
}
