// font-family: 'Lato', sans-serif;
// font-family: 'Merriweather', serif;
@import "setup";
@import "mixins";

$sans-serif: "Lato", sans-serif;
$serif: "Merriweather", serif;
// $goodreadsbg: #f9f7f4;
$alternatebg: #F3F3F3;

// do alternating colours for every new result.

html {
	font-size: 62.5%;
}

body {
	font-family: $sans-serif;
	background-image: url("../images/halftone.png");
	background-repeat: repeat;

}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.0rem;
}

p {
	font-size: 1.4rem;
	font-family: $serif;
}

form {
	font-size: 1.5rem;
	margin-bottom: 20px;

	input {
		padding: 5px;
		margin-left: 5px;

	}
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
}


.searchForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#books {
	margin: 0 auto;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	// border: 2px solid red;


	span {
		font-size: 3.5rem;
		padding-left: 10px;
		position: absolute;
		z-index: 10;
		left: -20px;
		border: 3px dotted black;
		border-radius: 50%;
		width: 55px;
		height: 55px;
	}

	.bookResult {
		border: 2px solid purple;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		padding-bottom: 20px;
		padding-top: 20px;

		// :nth-child(even) {
		// 	background-color: blue;
		// }
	}

	.textTest {
		// border: 2px solid blue;
		width: 100%;
		padding-left: 20px;
		// display: flex;
	}

	.imageContainer {
		border: 1px solid red;
		width: 150px;

		img {
			max-width: 100%;
		}
	}
}


